<!DOCTYPE html>
<html>
<body>


<button onclick="open()">Open</button>
<button onclick="close()">Close</button>
<p><span id="temperC"></span> C <br><span id="temperF"></span> F</p>


<script>

function open(event)
{
//debugging
event.preventDefault();
alert("open clicked");
fetch('/pin17', { method: 'POST' });
}

function close()
{
fetch('/pin27', { method: 'POST' });
}

//function updateTemper()
//{
//fetch('/temper')
//.then (response => response.json())
//.then (data => {
//document.getElementById('temperC').innerText = data.temper.toFixed(2);
//document.getElementById('temperF').innerText = ((data.temper * 1.8) + 32).toFixed(2);
//})}

//setInterval(updateTemper, 1000);
//updateTemper();

</script>
</body>
</html>
