<!DOCTYPE html>
<html>
<body>

<div class="button">
<button id="open">Open</button>
<button id="close">Close</button>
</div>
<p><span id="temperC"></span>°C<br><span id="temperF"></span>°F</p>

<div>
<label><input type="checkbox" id="tempCheckbox" />
Automatic Temperature Control</label>
</div>

<div class="input-box">
<label for="desiredTempC">Desired Temperature (°C):</label>
<input id="desiredTempC" type="number" step="0.1" value="25" />

<label for="desiredTempF">Desired Temperature (°F):</label>
<input id="desiredTempF" type="number" step="0.1" value="77" />
</div>


<script>

const buttons = document.querySelectorAll(".button");

document.getElementById("open").addEventListener("click", function(event) {
event.preventDefault();

buttons.forEach(button => button.style.display = "none");

fetch("/pin17", { method: "POST" })

.finally(() => {
buttons.forEach(button => button.style.display = "block");
});
});

document.getElementById("close").addEventListener("click", function(event) {
event.preventDefault();

buttons.forEach(button => button.style.display = "none");
fetch("/pin27", { method: "POST" })
.finally(() => {
buttons.forEach(button => button.style.display = "block");
});
});


const desiredTempC = document.getElementById("desiredTempC");
const desiredTempF = document.getElementById("desiredTempF");
const tempCheckbox = document.getElementById("tempCheckbox");

let lastCommand = 0;

// shows both F and C inputs when one is inputted
desiredTempC.addEventListener("input", function() {
  const celsius = parseFloat(desiredTempC.value) || 0;
  const fahrenheit = (celsius * 1.8 + 32).toFixed(1);
  desiredTempF.value = fahrenheit;
});

desiredTempF.addEventListener("input", function() {
  const fahrenheit = parseFloat(desiredTempF.value) || 0;
  const celsius = ((fahrenheit - 32) / 1.8).toFixed(1);
  desiredTempCInput.value = celsius;
});


function updateTemper() {
fetch("/temper")
.then (response => response.json())
.then (data => {
const currentTemp = data.temper;
document.getElementById("temperC").innerText = currentTemp.toFixed(2);
document.getElementById("temperF").innerText = ((currentTemp * 1.8) + 32).toFixed(2);

const desiredTempCValue = parseFloat(desiredTempC.value) || 0;

if (tempCheckbox.checked) {
if (currentTemp > desiredTempCValue && lastCommand !== "open") {

buttons.forEach(button => button.style.display = "none");
fetch("/pin17", { method: "POST" })
.finally(() => {
buttons.forEach(button => button.style.display = "block")

lastCommand = "open";
console.log("opened due to temperature");
} else if (currentTemp < desiredTempCValue && lastCommand !== "close") {

buttons.forEach(button => button.style.display = "none");
fetch("/pin27", { method: "POST" })
.finally(() => {
buttons.forEach(button => button.style.display = "block")

lastCommand = "close";
console.log("closed due to temperature");
}}});}

setInterval(updateTemper, 1000);
updateTemper();

</script>
</body>
</html>
